/Makefile
/yaccdefs.icn
/defns.icn
/mmixdefs.icn
/asdldefs.icn
/cdefs.icn
/disambiguate.icn
/docs2comments.icn
/elide.icn
/htmltoc.icn
/icondefs.icn
/l2h.icn
/lrtldefs.icn
/noidx.icn
/noindex.icn
/noxref.icn
/nwl2h.icn
/pascaldefs.icn
/pdcached.icn
/pipedocs.icn
/promeladefs.icn
/smldefs.icn
/texdefs.icn
/tohtml.icn
/totex.icn
/xchunks.icn
/tohtml
/totex
/disambiguate
/elide
/htmltoc
/l2h
/noidx
/noindex
/docs2comments
/pdcached
/pipedocs
/xchunks
/autodefs.asdl
/autodefs.cee
/autodefs.icon
/autodefs.lrtl
/autodefs.mmix
/autodefs.pascal
/autodefs.promela
/autodefs.sml
/autodefs.tex
/autodefs.yacc
/sl2h
/sl2h.icn
