*.o
/*-all.c
/Makefile
/strsave.c
/strsave.h
/nwmktemp.c
/match.c
/match.h
/columns.c
/columns.h
/fakepretty.c
/getline.c
/getline.h
/modtrees.c
/modtrees.h
/main.c
/errors.c
/errors.h
/mnt.c
/finduses.c
/notangle.c
/notangle.h
/markmain.c
/markup.c
/markup.h
/modules.c
/modules.h
/pretty.c
/pretty.h
/recognize.c
/recognize.h
